@inherits AppComponentBase

<BitModal @bind-IsOpen="IsOpen" IsBlocking="true">
    <div class="modal-body">
        <div class="modal-close-btn-container">
            <BitIconButton OnClick="CloseModal" IconName="@BitIconName.ChromeClose" Title="Close" />
        </div>
        <div class="modal-title">SUCCESS</div>
        <div class="modal-desc"></div>
        <div>
            @Localizer[nameof(AppStrings.SubmitCheckin)] <br />
            <BitButton ButtonStyle="BitButtonStyle.Standard" OnClick="CloseModal">@Localizer[nameof(AppStrings.Yes)]</BitButton>
        </div>
    </div>
</BitModal>