@inherits AppComponentBase

<BitModal @bind-IsOpen="IsOpen" IsBlocking="true">
    <div class="modal-body">
        <div class="modal-close-btn-container">
            <BitIconButton OnClick="CloseModal" IconName="@BitIconName.ChromeClose" Title="Close" />
        </div>
        <div class="modal-title">SUCCESS</div>
        <div class="modal-desc"></div>
        <div>
            your check-in/check-out has submit successfully! <br />
            <BitButton ButtonStyle="BitButtonStyle.Standard" OnClick="CloseModal">OK</BitButton>
        </div>
    </div>
</BitModal>